body{
    background-color: #3668a8;
        
}
h1{
    background-color: rgb(89, 228, 147);
    margin : 1em;
    padding : 20px;
    border: 5px solid black;
    border-radius: 10px;
     z-index: 2;
     position: relative;
     text-align: center;
}
div{ 
    color : #FF0000;
}



li:first-child{
    color:green;
}
li:last-child{
    color:rebeccapurple;

}
li:nth-child(2){
    color:yellow;
}
 
button {
border: none;
padding: 1em;
outline: none;
color: white;
text-transform: uppercase;
font-weight: 900;
font-style: 1.2em;
letter-spacing: 0.2em;
position: relative;
z-index: 1;
cursor: pointer;
background: none;
text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);

}
button:before, button:after {
position: absolute;
top: 50%;
left: 50%;
border-radius: 10em;
-webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
width: 105%;
height: 105%;
content: '';
z-index: -2;
background-size: 400% 400%;
background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
button:before {
-webkit-filter: blur(7px);
        filter: blur(7px);
-webkit-transition: all .25s ease;
transition: all .25s ease;
-webkit-animation: pulse 10s infinite ease;
        animation: pulse 10s infinite ease;
}
button:after {
-webkit-filter: blur(0.3px);
        filter: blur(0.3px);
}
button:hover:before {
width: 115%;
height: 115%;
}

#clement{
    color:violet;

}

.test{
    color:maroon;
    width: 100px;
    height: 100px;
    position: fixed;
    top : 10px;
    right :10px;
    background-color: blue;
    z-index: 1;
}


/* Code trouvé sur le net
Représente le code pour les 3 Menus (Présentation, Aide, Contact)*/


@import url(https://fonts.googleapis.com/css?family=Abel);

.CadreBlanc{
position:relative;
float:left;
width:276px;
height:71px;
background-color:#fff;
box-shadow:1px 1px 20px #000;
-webkit-box-shadow:1px 1px 20px #000;
  
margin:10px;
overflow:hidden;
opacity:0.75;
transition: all 0.5s ease;
}
.CadreBlanc:hover{
opacity:1;
height:auto;
}
.CadreBlanc > .CadreBleu > img{
position:relative;
opacity:0;
transition: all 0.5s ease;
}
.CadreBlanc:hover> .CadreBleu > img{
opacity:1;
}
.CadreBlanc > span{
color:#666;
font-family:'Abel', arial;
font-size:1em;
display:block;
padding:20px;
text-align:center;
opacity:0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.CadreBlanc:hover > span{
opacity:1;
z-index:2;
}
.CadreBleu {
height:70px;
background-color:#292c30;
overflow:hidden;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.CadreBlanc:hover > .CadreBleu{
height:250px;
overflow:hidden;
background-color:#1695ed;
}
h2{
position:relative;
margin-top:0px;
z-index:2;
font-family:'Abel', arial;
color:#fff;
font-size:1.75em;
display:block;
padding-top: 20px;
text-align:center;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.CadreBlanc:hover > .CadreBleu > h2{
margin-top:-10px;
}
.CadreBleu >span{
font-family:'Abel', arial;
color:#fff;
font-size:1em;
display:block;
text-align:center;
opacity:0;
margin-top:00px;
margin-left:80px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.CadreBlanc:hover > .CadreBleu > span{
opacity:1;
margin-left:0px;
margin-top:-30px;
margin-bottom:15px;
}
.Rond{
position:relative;
width:50px;
height:50px;
border-radius: 25px;
background-color: #292c30;
float:left;
margin:10px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.Rond:hover{
background-color:#1695ed;
}
.Rond > span{
display: block;
margin-top: 5px;
position: relative;
color: #fff;
font-family:'Abel', arial;
font-size:2em;
text-align:center;
}
.SousCadreBlanc{
position:absolute;
width:150px;
margin-left:10px;
height:550px;
background-color:#c41616;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.CadreBlanc:hover > .SousCadreBlanc{
margin-left:250px;
}

a.btn-border {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
margin-left:74px;
  padding: 15px 10px;
  border-radius: 3px;
  color: #FFF;
  border: 0;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
a.btn-border.blue {
  background: #1695ed;
  -webkit-box-shadow: 0 4px 0 0 #1695ed;
  box-shadow: 0 4px 0 0 #1695ed;
}
a.btn-border.blue:hover {
  background: #1695ed;
}
a.btn-border:active {
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
  -webkit-box-shadow: none;
  box-shadow: none;
}
